@use "./base.scss";

// put your custom CSS here!
@font-face {
  font-family: "Haettenschweiler";
  src: url("/static/Haettenschweiler.woff2") format("woff2"); 
  font-weight: normal;  
  font-style: normal;  
}

// This makes sure the main site title ("Berlin Falls") uses it
:root {
  --titleFont: Haettenschweiler, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
}

/*
 * FIX FOR CONDENSED FONT:
 * This adds a small amount of space between letters
*/
h1, h2, h3, h4, h5, h6,
summary,
[data-font="header"],
.page-title {
  letter-spacing: 0.05em;
}

/*
* CUSTOM FONT SIZING
*/

/* 1. Main Site Title (e.g., "Berlin Falls") */
.page-title {
  font-size: 1.75rem;
}

/* 2. Main Article Title (e.g., "Memories Within' (Plot)") */
h1.article-title {
  font-size: 2.25rem;
}

/* 3. Explorer folder/file names */
.explorer-container summary {
  font-size: 1rem;
}