@use "./base.scss";

// put your custom CSS here!
@font-face {
  font-family: "Cambridge";
  src: url("https://github.com/GizmoKowaski/Berlin-Fall/tree/v4/quartz/static/Cambridge.woff2") format("woff2");  
  font-weight: normal;  
  font-style: normal;  
}

:root {
  --titleFont: Cambridge, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

